body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif; 
  }
  
  .container {
    width: 100%;
     max-width: 400px;  
    background-color: #f7f7f7; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .header {
    text-align: center;
  }
  
  .text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .underline {
    width: 50px;
    height: 2px;
    background-color: #000;
    margin: 5px auto; /* Center underline */
  }
  
  .inputs {
    margin-top: 20px;
  }
  
  .input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input img {
    width: 24px;
    margin-right: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password {
    margin: 10px 0;
    text-align: center;
    color: #000;
    cursor: pointer;
  }
  .forgot-password span{
    color: #4c00b4;
    cursor: pointer;
    
  }
  
  .submit-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submit {
    flex: 1;
    padding: 10px 20px;
    background-color: #4c00b4;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 5px;
    
  }
  
 /* .submit:hover {
    background-color:#007bff;
  }*/
  .gray{
    background: #EAEAEA;
    color:#676767;
  }
  